@model ViewAddTabacoToStockList
<div class="bg-primary m-1 p-1 text-white"><h4>Добавление табака на склад</h4></div>
<div asp-validation-summary=" All" class="text-danger"></div>

<form asp-action="AddTabacoToStock" method="post">
    @for (int i = 0; i < 3; i++)
    {
        <div class="form-group">
            <label asp-for="@Model.tabacoToStocks[i].TabacoName"></label>
            <input asp-for="@Model.tabacoToStocks[i].TabacoName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.tabacoToStocks[i].TabacoBundleWeigh"></label>
            <input asp-for="@Model.tabacoToStocks[i].TabacoBundleWeigh" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.tabacoToStocks[i].TabacoCount"></label>
            <input asp-for="@Model.tabacoToStocks[i].TabacoCount" class="form-control" />
        </div>
    }
    <button type="submit" class="btn btn-primary">Добавить</button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>